
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div
	style="margin-left: 1px; width: 635px; border: 1px solid #005Bbb; box-shadow: 1px 1px 2px #cbcbcb;">
	<table cellpadding="0" cellspacing="0" width="638"
		style="margin: auto; color: #616161; font-family: arial, helvetica, sans-serif; font-size: 14px;">

		<tr>
			<td height="30px" />
		</tr>
		<table width="638px" cellpadding="0" cellspacing="0" border="0"
			style="margin: auto; color: #424242; font-family: arial, helvetica, sans-serif; font-size: 14px;">
			<tbody>
				<tr>
					<td width="638px" style="margin: 0; padding: 0px 50px 0px 50px;">
						<p style="color: #424242; font-size: 14px; text-align: justify;">Bonjour
							%title% %lastName%,</p>
						<p style="color: #424242; font-size: 14px; text-align: justify;">
							Vous avez choisi de b&eacute;n&eacute;ficier d'<b>e.quilibre</b>.
						</p>

						<p>Gr&acirc;ce &agrave; ce service, vous pourrez :</p>
						<ul style="margin-top: 5px; font-size: 16px; color: #3d3d3d;">
							<li>suivre votre consommation mensuelle
								d'&eacute;lectricit&eacute; en kWh et en &euro; sur une base
								estim&eacute;e ;</li>

							<li>comparer votre consommation d'&eacute;lectricit&eacute;
								&agrave; celle de logements similaires ;</li>

							<li>estimer la r&eacute;partition de vos consommations par
								&eacute;quipements (chauffage, &eacute;clairage, cuisson...) ;</li>

							<li>acc&eacute;der &agrave; des conseils et
								&eacute;co-gestes adapt&eacute;s &agrave; votre situation ;</li>

							<li>mettre &agrave; jour &agrave; tout moment vos
								donn&eacute;es personnelles pour des analyses plus
								personnalis&eacute;es.</li>
						</ul>


						<p>
							Pour d&eacute;couvrir <b>e.quilibre</b>, <FONT color="#FE5815;">2
								&eacute;tapes suffisent</FONT> :
						</p>

						<li>Acc&eacute;der &agrave; votre espace client gr&acirc;ce
							&agrave; <b>votre adresse mail</b> ;
					</li> </br>
						<li>Cliquer sur <FONT color="#005BC5">&laquo; <i>Suivre
									mes consommations</i> &raquo;
						</FONT> dans la colonne de droite.
					</li> </br>
						<div align="center">
							</p>
							<a
								href="http://particuliers.edf.com/gestion-de-mon-contrat/mon-compte/mon-espace-client-292989.html&open=connect">
								<img
								src="http://bilanconso.edf.com/static/email/monespaceclient.png">
							</a>
							</p>
						</div>
						</p>
						<p style="margin-top: 10px; text-align: justify; font-size: 14px;">
							A bient&ocirc;t,</br>
						</p>Votre conseiller EDF
						</p>
						</p>
						</p>
						<p align=center style='text-align: center'>
							<span
								style='font-size: 7.5pt; font-family: "Arial", "sans-serif"; color: black'>L'&eacute;nergie
								est notre avenir, &eacute;conomisons-la ! 
						</p>
						<hr size="2" color="#666666" />
						<p style="margin-top: 0px; text-align: justify; font-size: 9px;">
							Origine 2014 de l'&eacute;lectricit&eacute; vendue par EDF :
							82,2% nucl&eacute;aire, 13,6% renouvelables (dont 7,9%
							hydraulique), 1,6% charbon, 1,3% gaz, 1,0% fioul, 0,3% autres.
							Indicateurs d'impact environnemental sur www.edf.com</br> EDF SA au
							capital de 930 004 234 euros, 552 081 317 RCS Paris, si&egrave;ge
							social 22-30 av de Wagram 75382 Paris cedex 08.</br> Ce message est
							strictement confidentiel. Son int&eacute;grit&eacute; n'est pas
							assur&eacute;e sur internet. Si vous n'&ecirc;tes pas
							destinataire du message, merci de le d&eacute;truire.</br> Ce message
							vous a &eacute;t&eacute; envoy&eacute; par un automate. Pour
							toute correspondance avec votre conseiller EDF, connectez-vous
							&agrave; votre espace client.</br> N'imprimez ce message que si vous
							en avez l'utilit&eacute;.</br> </br> </br> </span> </span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</table>
</div>

</html>